---
import Layout from '../layouts/Layout.astro';
import MenuDropdown from '../components/MenuDropdown.jsx';
---

<Layout title="Portafolio, Victor Barahona">
	<main class="m-4 sm:m-8 sm:mx-20 md:m-7 xl:mx-48">
		<nav class="flex flex-row md:flex-row w-full justify-between mt-3 gap-4">
			<MenuDropdown client:load />
			<ul class="hidden md:flex md:w-[1000px]  h-[74px] items-center justify-around bg-[#EDEDED] rounded-2xl font-normal  md:text-xl lg:text-2xl  ">
				<li class="hover:text-teal-500 cursor-pointer" >About me</li>
				<li class="hover:text-teal-500 cursor-pointer" >Skills</li>
				<li class="hover:text-teal-500 cursor-pointer" >Education</li>
				<li class="hover:text-teal-500 cursor-pointer" >Experience</li>
			</ul>
			<button class="w-60 md:w-[350px] h-[50px] md:h-[74px] bg-gradient-to-r from-teal-400 to-blue-500 text-white text-lg md:text-2xl font-medium py-2 md:py-4 rounded-2xl md:rounded-3xl shadow-lg hover:scale-105 hover:shadow-xl transition-all">
				Contact me
			</button>
		</nav>
	</main>
</Layout>
